<h1>Registration Details</h1><span style="margin-left:70em">
<button class="button" type="submit" (click)="add()">Add</button></span><br><br>
<table >
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Email</th>
                <th>Contact</th>
                <th>About You</th>
                <th>State</th>
                <th>Gender</th>
                <th>Options</th>
            </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let item of tabledata">
                  <!-- <tr  *ngFor="let item of selected"> -->
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Date_of_Birth}}</td>
                <td>{{item.eMail}}</td>
                <td>{{item.Contact}}</td>
                <td>{{item.About_You}}</td>
                <td>{{item.State}}</td>
                <td>{{item.Gender}}</td>
                <td><button class="button" type="submit" (click)="edit(item)">Edit</button>
                <button class="button" type="submit" (click)="delete(item.Id)">Delete</button></td></tr>
            </tbody>
          </table>
        