.formstyle{
    display:inline-block;
    position:absolute;
     border:2px solid black;
     background-color:whitesmoke;
     text-align:left;
     padding: 50px 50px 50px 50px;
     font:13px ;
     color:maroon;
   }
   .button {
    display: inline-block;
    height: 50px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid black;
    border-radius: 3px;
    background:maroon;
    background: -webkit-gradient(linear, left top, left bottom, from(maroon), to(maroon));
    background: -moz-linear-gradient(top,maroon,maroon);
    background: linear-gradient(to bottom, maroon,maroon);
    text-decoration: none;
    font:13px ;
    color:white;
  }